@{
  ViewBag.Title = "Posts";
}

@section Scripts
{
  <script>
    alert("hi");
  </script>
}

<h1>Posts Index</h1>
<p>
  <a href="@Url.RouteUrl("login")">click here to login</a>
</p>
<p>
  @Html.RouteLink("click here to login", "login")
</p>
